div[class="mail-wrapper"] {
    text-align : left;
    margin : 0;
    color : #323232;
    font-family : Arial, Helvetica Neue, Helvetica, sans-serif;
}
a {
    color : #AD2329;
    text-decoration: underline;
}
td, p, span {
    font-size : 14px;
    line-height : 1.42em;
}
p {
    margin : 0;
}
hr {
    color: #000000;
}
table[class="t-header"] {
    width: 100%;
    min-width: 320px;
    margin: auto;
    text-align: center;
}
table[class="t-content"], table[class="t-footer"]{
    max-width : 600px;
    min-width : 540px;

}
table[class="t-header"] {
    padding-top : 29px;
    padding-bottom : 29px;
}
table[class="t-content"] {
    /*padding-bottom : 50px;*/
}
td[class="td-content"]{
    padding-left : 30px;
    padding-right : 30px;
}
table[class="t-footer"] {
    margin: auto;
    padding-top : 0px;
    padding-bottom : 15px;
    padding-left : 20px;
    padding-right : 20px;
    font-size : 13px;
}
table[class="t-footer"] td, table[class="t-footer"] p, table[class="t-footer"] span {
    text-align : center;
    font-size : 13px;
}
a[class="two-footer-link"]{
    padding-left: 10px;
    padding-right: 10px;
}
img[class="head_img"] {
    /*display : inline-block;*/
}
h2[class="title"] {
    margin : 0;
    margin-top : 32px;
    margin-bottom : 29px;
    font-family : Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight : normal;
    font-size : 35px;
    color : #AD2329;
    letter-spacing : 0.3px;
    line-height: 1em;
    text-align: center;
}
h3[class="sub-title"] {
    margin : 0;
    margin-top : 32px;
    margin-bottom : 29px;
    font-family : Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight : normal;
    font-size : 24px;
    color : #AD2329;
    letter-spacing : 0.3px;
    line-height: 1em;
}
.align_center {
    text-align : center;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align : right;
}

[class="btn-wrap"]{
    margin-top : 35px;
}

a[class="button"] {
    background-color : #AD2329;
    color : #ffffff;
    display : inline-block;
    font-size : 13px;
    text-align : center;
    text-decoration : none;

    border-color: #AD2329;
    border-style: solid;
    border-top-width: 10px;
    border-right-width: 35px;
    border-bottom-width: 10px;
    border-left-width: 35px;
}
img[class="quote-bg-img"] {
    width : 100% !important;
    display : block;
}
div[class="spaces-left-right"] {
    padding-left : 40px;
    padding-right : 40px;
}
div[class="quote"] {
    background-color : #F7F7F7;
    width : 100%;
    padding-top : 17px;
    padding-bottom : 15px;
}
a[class="att-url"] {
    padding-bottom : 13px;
    display : inherit;
}
p[class="quote-detail"] {
    color : #a4a4a4;
    margin-bottom : 3px;
    font-size : 12px;
    margin-top : 10px;
}
p[class="padding-bottom"] {
    padding-bottom : 13px;
}
p[class="increased-padding-bottom"] {
    padding-bottom : 26px;
}

/* newsletter*/
table[class="newsletter-item"],
table[class="newsletter-item invert"]{
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
img[class="newsletter-item-img"]{
    display: initial;
    width: 150px;
    margin-right: 40px;
    float: left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
div[class="newsletter-description"]{
    display: block;
    /*max-width: 370px;*/
    text-align: left;
}
table[class="newsletter-item invert"] img[class="newsletter-item-img"] {
    margin-right: 0;
    margin-left: 40px;
    float: right;
}
table[class="newsletter-item invert"] div[class="newsletter-description"]{
}
table[class="newsletter-item"] h3[class="sub-title"],
table[class="newsletter-item invert"] h3[class="sub-title"]{
    margin-top: 0px;
    margin-bottom: 20px;
}

table[class="pre-footer"]{
    background-color:#F6F6F6;
    padding-top: 45px;
    padding-bottom: 45px;
    margin: auto;
    width: 100%;
}

[class="pf-wrapper-text"]{
    padding-top: 16px;
}
[class="pre-footer-text"]{
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

[class="newsletter-item"] div[class="btn-wrap"]{
    margin-top: 22px;
    text-align: left;
    padding-left: 190px;
}
[class="newsletter-item invert"] div[class="btn-wrap"]{
    margin-top: 22px;
    text-align: left;
}

[class="newsletter-h-bg"]{
    background-position: center;
    background-repeat: no-repeat;
}
[class="newsletter-h-text"]{
    max-width: 600px;
    width: 100% !important;
}
[class="article-h-date"]{
    display: inline-block;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #000000;
    color: #FFFFFF;

    border-style: solid;
    border-top-width: 5px;
    border-right-width: 20px;
    border-bottom-width: 5px;
    border-left-width: 20px;
    border-color: #000000;
}
[class="article-h-title"]{
    text-align: center;
    font-size: 37px;
    color: #FFFFFF;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    margin-top: 25px;
    line-height: 1;
}

/* add-first-object*/

h3[class="sub-title2"] {
    margin: 0;
    margin-top: 41px;
    margin-bottom: 10px;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight: normal;
    font-size: 26px;
    color: #AD2329;
    letter-spacing: 0px;
    line-height: 1em;
}

[class="f-object-l-text"]{
    padding-right: 18px;
}

[class="f-object-r-image"]{
    vertical-align: top;
    width: 280px;
}
[class="f-object-r-image"] img{
    width: inherit;
}

[class="nambered-list"]{
    margin-bottom: 30px;
}

[class="nl-number"]{
    font-family : Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight : normal;
    font-size : 32px;
    letter-spacing : 0.3px;
    line-height: 1em;
    vertical-align: top;
    padding-right: 13px;
    padding-top: 6px;
    padding-left: 20px;
}

[class="nl-text"]{
    vertical-align: top;
    padding-top: 20px;
}

/* go-mobile page */

[class="image-middle-wrapper"]{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

[class="image-middle-wrapper"] img{
    width: 100% !important;
}

/* Leverage auction results */

/* Customize your account to your needs */

/* Track the location */

/* Organize your objects */

[class="ml-marked"]{
    font-family : Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight : normal;
    font-size : 32px;
    letter-spacing : 0.3px;
    line-height: 1em;
    vertical-align: top;
    padding-right: 24px;
    padding-top: 12px;
    padding-left: 23px;
}

[class="ml-text"]{
    vertical-align: top;
    padding-top: 20px;
}

/* Onboarding help */

/* small cards table (Gavel) */
table[class="small-cards-table"] {
    display: inline-block;
    width: 240px;
    margin-bottom: 30px;
    margin-right: 20px;
    vertical-align: top;
    float: left;
}
table[class="lot-small-card-item"] {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}
td[class="image-cell-small-card"]{
    width: 80px;
    padding-right: 15px;
    vertical-align: top;
}
td[class="image-cell-small-card"] div,
td[class="image-cell-small-card"] a {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
}
td[class="image-cell-small-card"] div img,
td[class="image-cell-small-card"] a img {
    display: block;
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
}

td[class="descr-cell-small-card"],
td[class="descr-cell-small-card-not-cut"] {
    vertical-align: top;
}

td[class="descr-cell-small-card-not-cut"] {
    word-break: break-word;
}

td[class="descr-cell-small-card"] p,
td[class="descr-cell-small-card-not-cut"] p{
    width: 140px;
    font-size: 13px;
    line-height: 1.3;
}
td[class="descr-cell-small-card"] p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* invitation-viewing-room.html */
table[class="gallery-table"]{
    width: 100%;
}
[class="intro"]{
    margin-top: 15px;
    margin-bottom: 27px;
}
table[class="gallery-item"]{
    padding-bottom: 10px;
    width: 100%;
}
table[class="gallery-item"] img{
    max-width: 120px;
    max-height: 125px;
    display: block;
    margin: auto;
    padding-bottom: 25px;
}
div[class="image-cell"]{
    width: 120px;
    padding-right: 30px;
    float: left;
}
div[class="descr-cell"]{
}
div[class="descr-cell"] p{
    line-height: 1.7em;
}
table[class="more-object"] {
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;
    line-height: 23px;
}

/* m10.welcome-to-collectrium */
[class="nambered-list welcome-to-collectrium"]{
    margin-bottom: 30px;
}

[class="nambered-list welcome-to-collectrium"] [class="nl-number"]{
    font-family : Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight : normal;
    font-size : 32px;
    letter-spacing : 0.3px;
    line-height: 1em;
    vertical-align: top;
    padding-right: 13px;
    padding-top: 6px;
    padding-left: 20px;
}

[class="nambered-list welcome-to-collectrium"] [class="nl-text"]{
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 20px;
}

[class="nambered-list welcome-to-collectrium"] h3[class="sub-title2"] {
    margin: 0;
    margin-top: 12px;
    font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    font-weight: normal;
    font-size: 26px;
    color: #AD2329;
    letter-spacing: 0px;
    line-height: 1em;
}

td[class="avatar-img welcome-to-collectrium"] {
    padding-left: 62px;
}

p[class="mTop20"]{
    margin-top: 20px;
}

/*welcome-from-your-specialist*/
td[class="avatar-img"]{
    padding-left: 40px;
}
img[class="circle"]{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

td[class="avatar-descr"]{
    padding-left: 20px;
    padding-right: 35px;
}

/* m12.knowledge-base*/
[class="specific-button-position-for-knowledge-base-page"]{
    margin-right: 58px;
    text-align: center;
}

/* Invoice */
[class="invoice_table"]{
    width: 100%;
}

[class="invoice_table"] td{
    border-bottom-width: 1px;
    border-bottom-color: #E9E9E9;
    border-bottom-style: solid;
}

[class="invoice_table"] td[class="column-1"]{
    text-align: right;
}

[class="invoice_table"]  td[class="column-2"]{
    text-align: right;
    font-weight: bold;
}


[class="plan_table"]{
    float: left;
}

[class="plan_table"] td[class="column-2"]{
    padding-left: 50px;
}

[class="invoice_info"]{
    width: 100%;
    background-color: #E9E9E9;
    padding: 20px;
    margin-bottom: 20px;
}

/* Call back request */
[class="call_back_request_table"]{
    width: 100%;
    border-top-width: 1px;
    border-top-color: #E9E9E9;
    border-top-style: solid;
}

[class="call_back_request_table"] td{
    border-bottom-width: 1px;
    border-bottom-color: #E9E9E9;
    border-bottom-style: solid;
}

[class="call_back_request_table"] td[class="column-1"]{
    padding-left: 20px;
    width: 150px;
}

[class="call_back_request_table"]  td[class="column-2"]{
    padding-left: 29px;
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    table[class="small-cards-table"] {
        width: 100% !important;
        height: auto !important;
        margin-right: 0 !important;
    }
    td[class="descr-cell-small-card"] p{
        width: auto !important;
        white-space: normal !important;

    }
}

@media only screen and (min-width:540px) {
    div[class="descr-cell"]{
        margin-left: 150px;
    }
}

@media only screen and (max-width:540px) {
    a[class="button"] {
        border-right-width: 20px !important;
        border-left-width: 20px !important;
    }
    table[class="t-content"], table[class="t-footer"] {
        max-width : 540px !important;
        min-width : 320px !important;
    }
    table[class="t-header"] {
        padding-top : 22px !important;
        padding-bottom : 22px !important;
    }
    h2[class="title"] {
        font-size : 21px !important;
        margin-top: 20px !important;
        margin-bottom: 17px !important;
    }
    h3[class="sub-title"] {
        margin-top : 16px !important;
        margin-bottom : 14px !important;
        font-size : 18px !important;
    }
    td[class="td-content"]{
        padding-left : 20px !important;
        padding-right : 20px !important;
    }
    p[class="padding-bottom"] {
        padding-bottom : 11px !important;
    }
    p[class="increased-padding-bottom"] {
        padding-bottom : 17px !important;
    }
    div[class="quote"] {
        padding-top : 9px !important;
        padding-bottom : 11px !important;
    }
    div[class="spaces-left-right"] {
        padding-left : 20px !important;
        padding-right : 20px !important;
    }
    [class="btn-wrap"] {
        margin-top : 20px !important;
    }
    table[class="t-content"] {
        margin-bottom : 26px !important;
    }
    table[class="t-footer"] {
        padding-top : 32px !important;
    }

    /*newsletter*/
    table[class="newsletter-item"],
    table[class="newsletter-item invert"]{
        margin-top: 30px !important;
        margin-bottom: 30px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    img[class="newsletter-item-img"],
    table[class="newsletter-item invert"] img[class="newsletter-item-img"]{
        float: none !important;
        margin-bottom: 20px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    [class="pre-footer-text"]{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    [class="newsletter-item"] div[class="btn-wrap"],
    [class="newsletter-item invert"] div[class="btn-wrap"]{
        text-align: center !important;
        padding: 0!important;
    }

    [class="article-h-date"]{
        font-size: 13px !important;
    }
    [class="article-h-title"]{
        font-size: 25px !important;
    }

    /* m2.newsletter-webinars */
    [class="news"]{
        margin-top: 41px;
    }
    [class="news"] [class="sub-title2"]{
        margin-top: 0;
    }



    /* invitation-viewing-room.html */
    [class="intro"]{
        margin-bottom: 16px;
    }
    table[class="gallery-item"] img{
        max-width: 100% !important;
        max-height: 135px !important;
    }
    div[class="image-cell"]{
        width: 100% !important;
        padding: 0 !important;
        float: none !important;
    }
    div[class="descr-cell"]{
        padding-bottom: 20px !important;
        margin-left: 0 !important;
    }

    /* add-first-object*/
    h3[class="sub-title2"] {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
        font-size: 18px !important;
    }

    /* m10.welcomw-to-collectrium*/
    [class="avatar-img welcome-to-collectrium"]{
        padding-left: 0 !important;
        font-size: 13px !important;
    }

    /*welcome-from-your-specialist*/
    td[class="avatar-img"]{
        padding-left: 20px !important;
    }

    /* m12.knowledge-base*/
    [class="specific-button-position-for-knowledge-base-page"]{
        margin-right: 0px !important;
        text-align: left !important;
    }

}
#airmail-line {
    margin: 0 -10px !important;
}
